main{
  margin: 0 20%;
}

header img{
  width: 10%;
  display: flex;
  padding-top: 1%;
  padding-left: 45%;
  margin-bottom: 2%;
}

header {
  background-color: #16D5DB;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1%;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  
  font-size: 24px;
  
  border-radius: 50px;
  padding: 1%;
  background-color: #00a84e;
  color: #fff;
}

nav ul li a:hover {
 background-color: #fff;
 color: #16D5DB;
}

img {
  width: 50%;
}

.opskrift{
  display: none;
}

/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

@font-face {
  font-family: Comfortaa;
  src: url(../font/Comfortaa_Bold.ttf);
  font-weight: bold;
}

/* Style the grid container */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

/* Style the individual templates */
.svamp {
  background-color: #16D5DB;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
}

.kategori_{
  display: none;
}

.svamp img{
  margin-top: 8%;
  border-radius: 4%;
}

.svamp h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title_ {
  font-size: 1.2rem;
  color: #333;
}

.description{
  padding-top: 7%;
}

.spiselig{
  padding: 8%;
  font-size: 18px;
}

#filterForm {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  color: #333;
}


/* Responsive layout for mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .svamp {
    width: 100%;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }
}