body {
    margin: 5% 5%;
    font-family: Comfortaa;
    text-align: center;
    background-color: #00a84e;
}

@font-face {
    font-family: Comfortaa;
    src: url(../font/comfortaa_bold-webfont.woff);
    font-weight: bold;
  }

img, .img, #img{
    width: 100%;
}

.quizh1{
    padding: 5%;
    color: #000000;
    font-size: 26px;
    color: #f7f7f7;
}

#quiz-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10%;
    background-color: #f7f7f7;
    font-size: 20px;
}

#question {
    font-size: 20px;
    margin: 5%;
}

#options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score{
    border-radius: 50%;
    background-color: #f7f7f7;
    width: 30%;
    margin: 0% 30%;
    padding: 5%;
}

#result{
    width: 100%;
    margin: 5% 5%;
    width: 90%;
}

.back{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 5%;
    width: 90%;
    margin: 20% 0;
    justify-content: center;
}

@media (min-width: 768px) {
    #options {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #options button {
        width: calc(50% - 1%); /* 50% width with some spacing in between */
        margin-bottom: 10px; /* Add spacing between rows */
    }

    main {
        margin: 0 20%;
    }

    img, .img, #img{
        width: 50%;
    }

    .quizh1{
        padding: 5%;
        padding-top: 0;
        color: #000000;
        font-size: 26px;
        color: #f7f7f7;
    }

    #score{
        border-radius: 50px;
        background-color: #f7f7f7;
        width: 10%;
        margin-left: 110%;
        padding: 5%;
        margin-top: -14%;
    }

    #quiz-container {
        margin-top: 0;
    }

    .back{
        padding: 2%;
        background-color: #f7f7f7;
        width: 10%;
        border-radius: 50px;   
        margin-top: -48%;    
    }

}