img {
  width: 50%;
}

/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Style the grid container */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

/* Style the individual templates */
.svamp {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
}

.svamp h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title_ {
  font-size: 1.2rem;
  color: #333;
}

.kategori_ {
  font-size: 1.2rem;
  color: #555;
}

.powers,
.weaknesses {
  margin-top: 10px;
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .svamp {
    width: 100%;
  }
}

.opskrift {
  display: none;
}

/* CSS for the .svamp element */
.svamp {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease;
}

/* Change background color slightly on hover */
.svamp:hover {
  background-color: #e0e0e0;
}

/* Add some additional styling to the .opskrift-link */
.opskrift-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease;
}

/* Change link color slightly on hover */
.opskrift-link:hover {
  color: #0056b3;
}

/* CSS for the overlay */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* CSS for the pop-up content */
.popup-content {
  background-color: #fff;
  padding: 20px;
  max-width: 80%;
  text-align: center;
  position: relative;
}

/* CSS for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}
